@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 120 100% 37%;

    --muted: 120 3% 15%;
    --muted-foreground: 120 3% 50%;

    --popover: 0 0% 0%;
    --popover-foreground: 120 100% 37%;

    --card: 0 0% 0%;
    --card-foreground: 120 100% 37%;

    --border: 120 100% 37%;
    --input: 120 100% 37%;

    --primary: 120 100% 37%;
    --primary-foreground: 0 0% 0%;

    --secondary: 120 3% 15%;
    --secondary-foreground: 120 100% 37%;

    --accent: 120 3% 15%;
    --accent-foreground: 120 100% 37%;

    --success: 120 100% 37%;
    --success-foreground: 0 0% 0%;

    --info: 199 89% 48%;
    --info-foreground: 0 0% 100%;

    --warning: 45 93% 47%;
    --warning-foreground: 0 0% 0%;

    --danger: 0 100% 50%;
    --danger-foreground: 0 0% 100%;

    --ring: 120 100% 37%;

    --radius: 0rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "calt" 1;
  }

  ::selection {
    @apply bg-primary text-background;
  }

  html {
    min-width: 360px;
  }

  .prose .anchor {
    @apply invisible absolute no-underline;
    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
  }

  .anchor:hover {
    @apply visible;
  }

  .prose a,
  .link a {
    @apply decoration-foreground decoration-[0.1em] underline-offset-2 transition-all hover:text-foreground/80;
  }

  .prose .anchor:after {
    @apply text-foreground;
    content: "#";
  }

  .prose *:hover > .anchor {
    @apply visible;
  }

  .prose pre {
    @apply border border-border bg-black/50;
  }

  .prose code {
    @apply rounded border border-border px-1 py-0.5 text-foreground;
  }

  .prose pre code {
    @apply p-0 text-foreground;
    border: initial;
  }

  .prose img {
    @apply m-0;
  }

  .prose > :first-child {
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    @apply text-foreground;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input[type="text"],
  input[type="email"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .prose .tweet a {
    text-decoration: inherit;
    font-weight: inherit;
  }

  table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }

  .prose p,
  .prose li {
    @apply text-foreground;
  }

  .prose a {
    @apply text-foreground;
  }

  .prose .callout > p {
    margin: 0 !important;
  }

  [data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-foreground;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-rehype-pretty-code-fragment] .line {
    @apply py-1;
  }

  [data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: #666;
  }

  [data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-muted;
  }

  [data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
  }

  [data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded bg-muted p-1;
  }

  [data-rehype-pretty-code-title] {
    @apply rounded-t border border-border bg-black px-4 py-3 font-mono text-xs font-medium text-foreground;
  }

  [data-rehype-pretty-code-title] + pre {
    @apply mt-0 rounded-t-none border-t-0;
  }
}
